node_modules/
dist/
build/
.vscode/
.idea
*.log
src_old
*.old.js
phaserTilemapfix
*.zip
legacy*
*.txt
dump/
*.docx
*.patch
*.bak*
*.old*
higherVolume/
assets/.DS_Store
assets/images/.DS_Store
.DS_Store
assets/3D/E-45-Aircraft/textures/E-45_REF 1.jpg
assets/3D/E-45-Aircraft/textures/E-45_glass_nor_.jpg
assets/3D/E-45-Aircraft/textures/E-45_col_2.jpg
assets/3D/E-45-Aircraft/textures/E-45-steel detail_2_col.jpg
assets/3D/E-45-Aircraft/textures/E-45-nor_1.jpg
assets/3D/E-45-Aircraft/textures/E-45 _col_3.jpg
assets/3D/E-45-Aircraft/textures/E-45 _col.jpg
assets/3D/E-45-Aircraft/ms3d.ms3d
assets/3D/E-45-Aircraft/E 45 Aircraft_x3d.x3d
assets/3D/E-45-Aircraft/E 45 Aircraft_x.x
assets/3D/E-45-Aircraft/E 45 Aircraft_wrl.wrl
assets/3D/E-45-Aircraft/E 45 Aircraft_stl.stl
assets/3D/E-45-Aircraft/E 45 Aircraft_ply.ply
assets/3D/E-45-Aircraft/E 45 Aircraft_obj.obj
assets/3D/E-45-Aircraft/E 45 Aircraft_obj.mtl
assets/3D/E-45-Aircraft/E 45 Aircraft_fbx6.1_ASCII.fbx
assets/3D/E-45-Aircraft/E 45 Aircraft_fbx.7.4_binary.fbx
assets/3D/E-45-Aircraft/E 45 Aircraft_Export_Ready.blend
assets/3D/E-45-Aircraft/E 45 Aircraft_dxf.dxf
assets/3D/E-45-Aircraft/E 45 Aircraft_dae.dae
assets/3D/E-45-Aircraft/E 45 Aircraft_abc.abc
assets/3D/E-45-Aircraft/E 45 Aircraft_3ds.3ds
assets/3D/E-45-Aircraft/E 45 Aircraft.blend
assets/3D/E-45-Aircraft/E 45 Aircraft-sketchfab-Version.fbx
assets/3D/E-45-Aircraft/E 45 Aircraft Cycles Render and High-Poly.blend
